[Desktop Entry]
Type=Application
Name=LandingCraft
GenericName=App Launcher
Comment=Install, update and launch the ArtCraft Crafting Apps
Exec=landingcraft
Icon=landingcraft
Terminal=false
Categories=Graphics;
Keywords=ArtCraft;PhotoCraft;VectorCraft;FilmCraft;LightCraft;PdfCraft;EffectCraft;DesignCraft;SoundCraft;CADCraft;launcher;updater;
StartupNotify=true
StartupWMClass=landingcraft
